.main-content {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-content div {
  padding-left: 25px;
  padding-right: 25px;
}

.film-group {
  padding-top: 1em;
}

.section-title {
  font-family: sans-serif;
  font-weight: normal;
}

.thumbnail_container {
  padding: 20px;
}

.thumbnail {
  display: block;
  width: 110px;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1);
  transition: transform 0.25s;
}

.thumbnail:hover {
  transform: scale(1.2);
}

.film_listing {
  display: inline-flex;
  align-items: center;
  border: 2px dotted grey;
  border-radius: 5px;
  background-color: #1a1a1a;
}

