<!DOCTYPE html>
<html>

<head>
  {% block head %}
  <link rel="stylesheet" type="text/css" href="/static/base.css">
  <title>{% block title %}{% endblock %}</title>
  {% endblock %}
</head>

<body>
  
  <div class="header">
    <a class="header__item" href="/">Home</a>
    <a class="header__item" href="">Browse</a>
  </div>
  
  {% block body %}
  <div class="center">
    <form class="center__inner" action="search">
      <span class="search-box">
        <input class="search-box__input" type="text" name="title" placeholder="Search for title...">
        <button class="search-box__button" type="submit"></button>
      </span>
    </form>
  </div>
  {% endblock %}
  
</body>

</html>
